<?
$is_mobile = preg_match('/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i', $_SERVER['HTTP_USER_AGENT']) || preg_match('/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i', substr($_SERVER['HTTP_USER_AGENT'], 0, 4));

if (!isset($show_menu)) {
  if ($is_mobile) {
    $show_menu = false;
  } else {
    $show_menu = true;
  }
}

if (!$show_menu) {
  $nav_classes = '';
} else {
  $nav_classes = 'toggled';
}

?>

<html lang="ru">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="<?=WEB_ROOT?>/public/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="<?=WEB_ROOT?>/public/css/intlTelInput.min.css" rel="stylesheet"/>
  <link href="<?=WEB_ROOT?>/public/css/styles.css?v=1.5" rel="stylesheet"/>

  <!-- pro_sidebar -->
  <!-- <link rel="stylesheet" href="<?=WEB_ROOT?>/public/css/pro_sidebar/jquery.mCustomScrollbar.min.css"> -->
  <link rel="stylesheet" href="<?=WEB_ROOT?>/public/css/pro_sidebar/sidebar-themes.css?v1.1">
  <link rel="stylesheet" href="<?=WEB_ROOT?>/public/css/pro_sidebar/main.css?v1.4">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="<?=WEB_ROOT?>/public/js/lib/jquery.min.js"></script>
  <script src="<?=WEB_ROOT?>/public/bootstrap/js/bootstrap.min.js"></script>

  <script src="<?=WEB_ROOT?>/public/js/lib/intlTelInput.min.js"></script>
  <script src="<?=WEB_ROOT?>/public/js/lib/vanillaTextMask.js"></script>

  <script type="application/javascript">
    var AC_BASE_AJAX_URL = '<?=AIRCHECKIN_ROOT_AJAX_URL?>';

    $(function () {
    });
  </script>

  <title>Система онлайн-регистрации</title>
</head>
<body>
  <div class="page-wrapper default-theme sidebar-bg bg1 <?=$nav_classes?>">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fa fa-lg fa-plane"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <!-- sidebar-brand  -->
        <div class="sidebar-item sidebar-brand">
          <a href="/admin">Администратор<br><small><?=$user['name']?></small></a>
<!--
          <div id="close-sidebar">
            <i class="fa fa-times"></i>
          </div> -->
        </div>

        <!-- sidebar-menu  -->
        <div class=" sidebar-item sidebar-menu">
          <ul>            <li class="header-menu">
              <span>Арендаторы</span>
            </li>
            <li>
              <a href="/admin/get_registration_link">
                <i class="fa fa-check-square"></i>
                <span class="menu-text">Регистрация арендатора</span>
              </a>
            </li>

            <li>
              <a href="/admin/stat/tenants">
                <i class="fa fa-user"></i>
                <span class="menu-text">Список арендаторов</span>
              </a>
            </li>
            <li class="header-menu">
              <span>Договора</span>
            </li>
            <li>
              <a href="/admin/stat/current">
                <i class="fa fa-book"></i>
                <span class="menu-text">Список договоров</span>
              </a>
            </li>
            <li>
              <a href="/admin/stat/apart">
                <i class="fa fa-book"></i>
                <span class="menu-text">Статистика по<br>апартаментам</span>
              </a>
            </li>
            <li>
              <a href="/admin/update_order_status">
                <i class="fa fa-book"></i>
                <span class="menu-text">Ручной расчёт</span>
              </a>
            </li>

            <li class="header-menu">
              <span>Собственники</span>
            </li>
            <li>
              <a href="/admin/owners">
                <i class="fa fa-user"></i>
                <span class="menu-text">Список собственников</span>
              </a>
            </li>
            <li>
              <a href="/admin/aparts">
                <i class="fa fa-home"></i>
                <span class="menu-text">Апартаменты</span>
              </a>
            </li>
            <li>
              <a href="/admin/owners/contracts?filter=checking">
                <i class="fa fa-home"></i>
                <span class="menu-text">Заявки на подключение<br>апартамента</span>
              </a>
            </li>

            <li>
              <a href="/admin/add_owner">
                <i class="fa fa-child"></i>
                <span class="menu-text">Регистрация<br>собственника</span>
              </a>
            </li>
            <li>
              <a href="/admin/add_owner_balance">
                <i class="fa fa-child"></i>
                <span class="menu-text">Начисление<br>собственнику</span>
              </a>
            </li>
            <li class="header-menu">
              <span>Сервис</span>
            </li>
            <li>
              <a href="/admin/changelog">
                <i class="fa fa-child"></i>
                <span class="menu-text">История изменений</span>
              </a>
            </li>

          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
    </nav>
    <!-- page-content  -->
    <main class="page-content pt-2">
      <div id="mobile-check"></div>
      <div id="overlay" class="overlay"></div>
      <div class="container-fluid pl-xs-2 pl-sm-5 pr-xs-2 pr-sm-5 col-lg-12">




