<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
  </head>
  <body>
    <img style="float: right; margin-left: 20px;" src="$['web_root']/public/img/logo_doc.jpg" height="98px"/>
    ООО «Апартсервис» ИНН 2465165753 КПП 246501001 Г. Москва, Ходынский бульвар 2, офис А010 Расчетный счет
    №40702810006500000891 в Банке «ТОЧКА»ПАО БАНКА "ФК ОТКРЫТИЕ" в г. Москва БИК 044525999 Кор. Счет
    3010181084525000099
    <a href="mailto:booking@aeroapart.ru">booking@aeroapart.ru</a>
    тел.: +7(903)213-58-88
    <a href="http://aeroapart.ru">www.aeroapart.ru</a>
    <p><b>Отчёт агента об исполнении поручения по договору $['apart_name'] от $['user_created_at']</b></p>
    <div>
      В соответствии с п. 3.1.10 Договора с учетом положений ст. 1008 ГК РФ ООО АПАРТСЕРВИС (Агент) в лице
      генерального директора Бочарова А.А. представляет настоящий отчет агента по договору $['apart_name'] от $['user_created_at']г.
      за $['report_date'] в адрес принципиала $['owner_name']
    </div><br>
    <div>1. За $['report_date'] года Агент получил выручку в соответствии с п.1 договора за оказанные услуги в сумме $['total_orders_sum'] руб.</div>
    <div>
      2. В соответствии с п. 4.1 договора вознаграждение Агента составило $['total_agent_profit'] руб.
    </div>
    <div>
      3. За $['report_date'] при исполнении договора Агентом были понесены следующие расходы:<br>
      - Произведена оплата уборки в сумме $['total_cleanings_num'] уборок на $['total_cleanings_price'] руб.
    </div>
    <div>
      4. В соответствии с п. 4.1 Договора Принципалу причитается разница между суммой, указанной в п. 1 Отчета, и
      расходами, указанными в п. 2 и 3 Отчета. – $['total_owner_profit'] руб.
    </div>
    <br>
    <div>
      К Отчету прилагаются:
      Квитанции об оплате за уборки.
    </div>
    <br>
    <div>
      ПРИНЦИПАЛ:
    </div>
    <div>
      АГЕНТ:
    </div>

</p>
</body>
</html>
