	<div class="row"><div class="col-sm-12"><h4>Начисление баланса собственнику</h4></div></div><hr>
	<div class="row">
		<div class="col col-md-6">
					<b>Собственник:</b> <?=$owner['name']?><br>
					<b>Баланс:</b> <?=$owner['balance'] / 100?> руб.
					
			<form name="change_status_form" action="/admin/add_owner_balance" method="POST">
				<div class="form-group row">
				  <div class="col-sm-12">
				    <input class="form-control" required readonly id="input_owner_user_id" name="owner_user_id" value="<?=$owner['user_id']?>" type="hidden"/>
				  </div>
				</div>
				<div class="form-group row">
					<div class="col-sm-12">
						 <input class="form-control" required id="input_amount" name="amount" value="" type="number" placeholder="Сумма начисления"/>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-12">
						<button class="btn btn-warning">Начислить на баланс
						</button>
					</div>
				</div>
			</form>
				</div>
			</div>
